@model INF__440.Models.Quack

@{
    ViewBag.Title = "Details";
}

<h2 class=" header1">Quack Info</h2>

<div class="header7">
    <h4>Quack</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quack_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quack_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quack_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quack_Text)
        </dd>

    </dl>
</div>

